html{
  height: 400%;
  width: 100%;
}

body{
  background-color: #1444CC;
  height: 100%;
}

#home{
  background-image: url("../images/wheat-1149885.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 25%;
  width: 100%;
  position: relative;
}

#prueba{
  position: absolute;
  width: 20%;
  height: 20%;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -5% 0 0 -10%;
  background: #000000;
  opacity: 0.8;
}


#school{
  background-image: url("../images/kicker-670394.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 25%;
  width: 100%;
  position: relative;
}

#depyval{
  background-image: url("../images/hands.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 25%;
  width: 100%;
  position: relative;
}

#nosotros{
  background-image: url("../images/clasped-hands-541849.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 25%;
  width: 100%;
  position: relative;
}

#core-nav{
  visibility: hidden;
}

.btn,
.btn:hover,
.btn:focus {
  border: 0px;
  width: 10%;
  height: 5%;
  background-color: #1444CC;
  position: fixed;
  z-index: 1;
}

#core-button{
  left:0%;
}
/*
#1444CC
#3D5599
#00C9FF
#FF5700
#000000
*/
#exCollapsingNavbar{
  width: 30%;
  height: 100%;
  float:left;
  opacity: 1;
  color: white;
  background-color: #1444CC;
  position: fixed;
  z-index: 1;
}


h1 , h3{
 font-family: moonbeam;
 color: white;
 opacity: 1;
 /*text-decoration: underline;*/
 font-weight: 800;
 margin-bottom: 100px;
}

h4{
  color: white;
  top:86%;
  font-weight: 800;
  position: absolute;
  font-family: segoe-script;
}

li {
  margin-top:20px;
  list-style-type: none;
}

@font-face {
   font-family: 'moonbeam';
   src: url('../fonts/MoonbeamRegular.ttf');
 }

 @font-face {
    font-family: 'rowdyheavy';
    src: url('../fonts/RowdyHeavyRegular.ttf');
  }

  @font-face {
     font-family: 'segoe-script';
     src: url('../fonts/ufonts.com_segoe-script.ttf');
   }
